body {
    color: #0c0233;
}

.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;
}


body {
    background: #9eb892;
    background: -webkit-linear-gradient(to right, #acbf89, #9dc66e);
    background: linear-gradient(to right, #98c887, #7ea562);
    min-height: 100vh;

}

